<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=dvatri;encrypt=true;trustServerCertificate=true</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">janinika123</property>

        <!-- Redis connection settings -->
        <property name="spring.data.redis.host">localhost</property>
        <property name="spring.data.redis.port">6379</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Names of annotated entity classes -->
        <mapping class="com.jan.model.product.Dimensions"/>
        <mapping class="com.jan.model.product.Product"/>
        <mapping class="com.jan.model.product.Dimensions"/>
        <mapping class="com.jan.model.user.Address"/>
        <mapping class="com.jan.model.user.BankDetails"/>
        <mapping class="com.jan.model.user.Company"/>
        <mapping class="com.jan.model.user.Coordinates"/>
        <mapping class="com.jan.model.user.Crypto"/>
        <mapping class="com.jan.model.user.Hair"/>
        <mapping class="com.jan.model.user.User"/>
        <mapping class="com.jan.model.category.Category"/>

        <!-- Add other entity mappings here -->
    </session-factory>
</hibernate-configuration>